@font-face {
    font-family: 'MuseoSans-700';
    src: url('MuseoSans-700.woff2') format('woff2'),
        url('MuseoSans-700.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

